<div class="list-group">
<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <h4>→<%= comment.addcontent %></h4>
      </li>
    <% end %>
  <% end %>
</ul>
</div>
