// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box12{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5989cf;
  background: #c6e4ff;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
}
.box12 p {
  margin: 0; 
  padding: 0;
}